<link rel="icon" href="/assets/images/favicon-v2.png">
<link rel="apple-touch-icon" href="/assets/images/favicon-v2.pngv=2">


<!-- Open Graph Metadata -->
<meta property="og:title" content="The Black Box">
<meta property="og:description" content="Dion’s unfiltered career blog about hiring, candidates, ATS truth, and what really happens inside companies.">
<meta property="og:url" content="https://blog.success.justgoatlas.com">
<meta property="og:type" content="website">
<meta property="og:image" content="https://blog.success.justgoatlas.com/assets/images/blackbox.jpg">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="The Black Box">
<meta name="twitter:description" content="Dion’s unfiltered career blog about hiring, candidates, ATS truth, and what really happens inside companies.">
<meta name="twitter:image" content="https://blog.success.justgoatlas.com/assets/images/blackbox.jpg">
